<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="sl40-wp71" />
  <package id="Ninject" version="3.0.1.10" targetFramework="sl40-wp71" />
  <package id="WindowsPhoneTuple" version="1.0.2" targetFramework="sl40-wp71" />
</packages>